@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    margin: 0;
}
.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

/* card animation */

@keyframes fadeInCard {
    from { transform: translateY(-2rem); opacity: 0;}
    to { transform: translateY(0); opacity: 1;}
}

.card {
    background-color: hsl(0, 0%, 100%);
    max-width: 260px;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    animation-name: fadeInCard;
    animation-duration: 1s;
}
.card__img {
    overflow: hidden;
    border-radius: 0.7rem;
}
.card__img img {
    display: block;
    max-width: 100%;
    transition: transform .3s ease-in-out;
}
.card:hover .card__img img {
    transform: scale(1.1);
}
.card__title {
    color: hsl(218, 44%, 22%);
    font-size: 1.3rem;
    margin: 1rem 0;
}
.card__text {
    color: hsl(220, 15%, 55%);
    margin-bottom: 1rem;
}
.attribution {
    text-align: center;
    padding: 1rem;
}



